{
  "openai": {
    "organisation": "",
    "api_key": ""
  },
  "anthropic": {
    "api_key": ""
  },
  "mistral": {
    "api_key": ""
  },
  "cohere": {
    "api_key": ""
  },
  "google": {
    "api_key": ""
  },
  "huggingface": {
    "api_key": ""
  },
  "slurk": {
    "api_key": "00000000-0000-0000-0000-000000000000",
    "base_url": "http://localhost:5000"
  },
  "openai_compatible": {
    "api_key": "",
    "base_url": "http://127.0.0.1:8000/v1"
  },
  "openrouter": {
    "api_key": ""
  }
}